@media (max-width: 431px) {
  span {
    color: #4de1ff;
  }

  .container {
    max-width: 346px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }

  .header__container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 192px;
    padding-top: 32px;
  }

  .main__container {
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right 67% bottom 44%;
    padding-bottom: 0;
  }

  .navbar-toggler {
    display: block;
  }

  .header__container .nav__button {
    display: none;
  }

  .cards__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .main__title {
    font-size: 32px;
    text-align: left;
  }

  .main__button {
    width: 345px;
  }

  .main__container .description {
    display: none;
  }

  .token__container {
    width: 343px;
    gap: 20px;
  }

  .token__container .section__title {
    font-size: 30px;
  }

  .token__container .description {
    font-size: 16px;
  }

  .adaptive__img {
    display: none;
  }

  .collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navbar-collapse .main-nav__list .main-nav__item {
    padding-top: 20px;
  }

  .token-cards__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 95px;
  }

  .token-cards__container .title__container {
    align-items: center;
  }

  .token-cards__container .section__title {
    text-align: center;
  }

  .token__article {
    padding: 18px;
    border: none;
  }

  .token__article .card__title {
    font-size: 20px;
  }

  .token__article .description {
    font-size: 14px;
  }

  .card__span {
    display: block;
    font-family: var(--primery-font);
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    color: rgba(233, 236, 239, 0.7);
  }

  .services__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .services__card {
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 27px 19px;
  }

  .services__container .token__article {
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 27px 19px;
  }

  .services__container .token__article .card__title {
    height: auto;
  }

  .services__card .section__title {
    font-size: 24px;
  }

  .services__card .pre__title {
    display: none;
  }

  .services__container .token__article {
    align-items: flex-start;
  }

  .services__container .token__article .description {
    text-align: left;
  }

  .team__container .pre__title {
    display: none;
  }

  .team__container .section__title {
    font-size: 32px;
  }

  .sale__container .title__container .section__title {
    text-align: center;
    white-space: nowrap;
  }

  .module__card {
    width: 100%;
  }

  .main__img {
    max-width: 367px;
    display: block;
  }

  .plan-sect__container {
    margin-bottom: 120px;
  }
  .plan-sect__container .title__container .section__title {
    text-align: center;
  }

  .video-section__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .video-section__container .team__container .section__title {
    text-align: center;
  }

  .video-section__container .team__container .description {
    text-align: center;
    font-size: 14px;
  }

  .video-section__container .learn__container {
    align-self: center;
  }

  .video img {
    width: 346px;
    height: 170px;
  }

  .container.video-section__container {
    margin-bottom: 170px;
  }

  .container.footer__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
