.card {
  width: 380px;
  height: 330px;
  padding: 40px 37px 40.2px;
  transform: rotate(-180deg);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border: solid 1px #fff;
  background-image: radial-gradient(
      circle at 90% 126%,
      #df1dff,
      rgba(72, 205, 255, 0) 54%
    ),
    radial-gradient(circle at -13% -21%, #3eeee3, rgba(62, 69, 238, 0) 57%),
    var(--gradient);
}

.card__title {
  font-family: var(--primery-font);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--secondary-color);
}

.carf__img {
  width: 80px;
}
