.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: auto;
  margin-bottom: auto;
  gap: 184px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
  list-style: none;
}

.nav__item {
  font-family: var(--primery-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--primery-color);
  white-space: nowrap;
}
