:root {
  --accent-color: #b982ff;
  --gradient: linear-gradient(253deg, #18c8ff 82%, #933ffe 11%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.47),
      rgba(255, 255, 255, 0.55) 33%,
      rgba(255, 255, 255, 0.39) 67%
    );
  --border-gradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.47),
    rgba(255, 255, 255, 0.55) 33%,
    rgba(255, 255, 255, 0.39) 67%
  );
  --btn-disabled: #6e7584;
  --bg-color: #0b0b0f;
  --primery-font: "Inter", sans-serif;
  --primery-color: #fff;
  --secondary-color: #e8e8e8;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-color);
  background-image: url(../images/bg-gradient-top.png),
    url(../images/bg-gradient-bottom.png), url(../images/bg-gradient-center.png);
  background-size: 354px, 538px, 1439px;
  background-repeat: no-repeat;
}

/*section*/

.team__section {
  background-image: url(../images/section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.video__section {
  background-image: url(../images/section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__section {
  background-image: url(../images/bg-gradient-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*container*/

.container {
  max-width: 1180px;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 200px;
}

.main__container {
  padding-top: 123px;
  padding-bottom: 207px;
  background-image: url(../images/info-block.png);
  background-repeat: no-repeat;
  background-position: center bottom 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token__container {
  display: grid;
  align-items: center;
  gap: 100px;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.token-cards__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 115px;
  margin-top: 100px;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.team__container {
  display: flex;
  flex-direction: column;
  max-width: 542px;
  justify-content: center;
}

.team__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 133px;
  padding-top: 133px;
  background-image: linear-gradient(9deg, #213763 23%, rgba(42, 58, 86, 0) 57%),
    url(../images/businessmen-internet-technology-commerce-bitcoin-mining-studio-official-removebg-preview.png);
  background-size: 681px;
  background-repeat: no-repeat;
  background-position: 100%, left 436px top 100%;
}

.sale__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.module__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.video-section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  padding-top: 141px;
  padding-bottom: 141px;
}

.video-section__container .team__container {
  max-width: 380px;
  gap: 28px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 127px;
  row-gap: 24px;
  margin-bottom: 38px;
}

.footer-email__container {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  gap: 32px;
}

.footer-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan-sect__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.plan__container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/*title*/

.main__title {
  max-width: 795px;
  font-family: var(--primery-font);
  font-size: 85px;
  font-weight: 900;
  line-height: 1.3;
  color: var(--primery-color);
  text-align: center;
  margin: 0;
}

.pre__title {
  font-family: var(--primery-font);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--accent-color);
  padding-bottom: 4px;
}

.section__title {
  font-family: var(--primery-font);
  font-size: 50px;
  font-weight: 900;
  line-height: 1.3;
  color: var(--primery-color);
  padding-bottom: 24px;
  margin: 0;
}

/*text*/

.description {
  max-width: 633px;
  font-family: var(--primery-font);
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--secondary-color);
  margin: 0;
}

.footer__description .description {
  font-family: var(--primery-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #ced4da;
}

.team__container .description {
  max-width: 500px;
}

.title__container .description {
  max-width: 500px;
}

.team__container .description {
  text-align: left;
  margin-bottom: 4px;
}
